doctype html
html
  head
    title Hihi
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap CSS 
    link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    link(href='mysite.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='javascripts/jquery.js')
    script(type='text/javascript', src='stylesheets/bootstrap.min.js')
  body
    //
       Navigation Bar 
    .navbar.navbar-default
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          | Sity Router Hub - A funny site- stories in this site not directly related to any person on the earth or on other planets
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='home') Home
          li.active
            a(href='#') About
    //
       Navigation Bar 
    .panel.panel-default
      .panel-body
        | World is ain't sun shine and Rainbows, it is just a mean place, it will beat you on your knees to the gound if you let it. You have to work hard to get anything.  Oh sorry Rocky Balboa is intruded me for some time. Oh..., you are here for the internet, isn't it?. Yeah, we provide the internet for free, you don't have to pay money, you don't have to use your credit cards, you don't have to do a wire transfer, you don't have to login to your bank account.
        | Just for free please continue reading how...
    .panel.panel-default
      .panel-body
        | Here we introduce how the Murphy Robert the great law works.., you have to sleep and dream today that you got internet connection for free. This will happen one day down the line, you will get free internet connection. Trust me, we will help you to get there.
        | Our company is just asking you to believe in you, invest in you. We will make you dream like you have internet today, You are connnected to all around the world today for free, which will help you down the line you get internet connection for free. Let me tell you a story of a boy from west Austin (I don't know where that is ;-)),  who is 6 years old wanted to become a heavy weight boxing champion, but he is just 6 years old, and he knows Murphy Robert the great law ...,  so he was just sleeping and dreaming that one day he will become a heavy weight boxing champion, so that every girl in his school will run after him.  Suddenly at his 12th year he got an opportunity in his school to attend a competition of heavy weight boxers, there the boxer who won the champion Mike Robert is having the same name as the 12 year old boy. Since then all the girls in the school started calling him you are the Mike Robert the heavy weight boxing champion and ran after him, Probably because of his lean appearance. Guys miracles work in life. Here the boy made a mistake of not really imagining to become champion, he was always after girls following him in his imagination. So that's what he got. Anyway he is successful.
    .panel.panel-default
      .panel-body
        | You will get one day internet for sure.., you don't need to pay any money. It is just for free. Free free free. But please understand if you don't pay attention today and work hard, believe me you don't get there. So you just need to join us. Here is what I am about to offer you. It is a 1000$ package, I will be providing everyday mentoring on how you should feel about having internet. whether it is broadband or WIFI, we will train you. We will track your progress on day to day basis, how you are doing etc. You are likely to get there as early as possible, if you pay right attention to it. So here is I am going to offer to you, I know 1000$ is just way beyond for any one of us. So let me cut down to 500$. You just need to pay your weekly check. As simple as that, no wait a min. I am going to give you another discount that is going only today. If you chose to buy the product today you will get it for 99$, why let me  tell you. Because you are the one who took the right decision today to enjoy the infinite internet ever life changing offer. That's why you people get this offer. Imagine if you pay 99$ today, and if you live more 40 years, or 50years depending on your current age, you will be atleast saving 10000$ on free internet otherwise you have to pay. So just don't worry about 99$. with out wasting time, go ahead and fill the form below.
    .col-lg-8
      form.form-horizontal
        fieldset
          legend Pay Here
          .form-group
            label.col-lg-2.control-label(for='inputEmail') Email
            .col-lg-10
              input#inputEmail.form-control(type='text', placeholder='Email')
          .form-group
            label.col-lg-2.control-label(for='inputPassword') Password
            .col-lg-10
              input#inputPassword.form-control(type='password', placeholder='Password')
              .checkbox
                label
                  input(type='checkbox')
                  | Checkbox
          .form-group
            label.col-lg-2.control-label(for='textArea') Comments
            .col-lg-10
              textarea#textArea.form-control(rows='3')
              span.help-block
                | A longer block of help text that breaks onto a new line and may extend beyond one line.
          .form-group
            label.col-lg-2.control-label Pay options
            .col-lg-10
              .radio
                label
                  input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                  | Debit Card
              .radio
                label
                  input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                  | Credit Card
          .form-group
            .col-lg-10.col-lg-offset-2
              button.btn.btn-default Cancel
              button.btn.btn-primary(type='submit') Submit
