doctype html
html
  head
    title Lyreks® 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap CSS 
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  body
    //
       Navigation Bar 
    .bodykinda
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar 
            span.icon-bar
          a.navbar-brand(href='#')
            | Lyreks® 
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#') Home
      //
    .jumbotron
      legend And the results are ...
      .form-group
      .panel.panel-default
      .panel-body
          .form-group
          h3
            | #{locals.first}
          p
            | #{locals.firstTxt}
          h3
            | #{locals.second}
          p
            | #{locals.secondTxt}
        