doctype html
html
  head
    title Lyreks® 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap CSS 
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  body
    //
       Navigation Bar 
    .bodykinda
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            | Lyreks® 
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#') Home
      //
        Navigation Bar 
    .jumbotron
      legend Enter name of artist and song
      form.form-horizontal(action='/',method='POST')
        .form-group
          .col-lg-10
            input#inputName.form-control(type='text', placeholder='Ready to discover?',name='myinput')
        p
          button.btn.btn-primary.btn-lg(href='about') Start
